<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% if header.description %}
        <meta name="description" content="{{ header.description }}">
      {% else %}
        <meta name="description" content="{{ site.description }}">
      {% endif %}
      <meta name="author" content="Krisztian Kurucz">
      {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
      {% endif %}
      <link rel="icon" type="image/x-icon" href="{{ url('theme://images/favicon.png', true) }}">
      <link rel="canonical" href="{{ page.url(true, true) }}" />
      <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

      {% block stylesheets %}
        {# Bootstrap core CSS #}
        {% do assets.addCss('theme://css/bootstrap.css',102) %}
        {# Clean-blog CSS #}
        {% do assets.addCss('theme://css/clean-blog.css',101) %}
        {# FontAwesome CSS #}
        {% do assets.addCSS('theme://css/font-awesome.min.css') %}
        {{ assets.css() }}
      {% endblock %}

      {% block javascripts %}
        {% do assets.add('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 101) %}
        {% do assets.add('theme://js/bootstrap.min.js') %}
        {% do assets.add('theme://js/clean-blog.min.js') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
          {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
          {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
        {% endif %}

        {{ assets.js() }}
      {% endblock %}
    {% endblock head %}
  </head>

  <body>
    {% include 'partials/header.html.twig' %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ theme_url }}/images/{{ header.image }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>{{ header.heading }}</h1>
              <hr class="small">
              <span class="subheading">{{ header.subheading }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <hr class="thick">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>

  <hr class="thick">
  <footer>
    <div class="container">
      {% include 'partials/footer.html.twig' %}
    </div>
  </footer>
</html>
