<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      
      <!-- Metadata -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="I am Krisztian Kurucz. A student from UWaterloo Mechatronics Engineering in Waterloo, Ontario. Class of 2018.">
      <meta name="robots" content="index,follow">
      <meta name="author" content="Krisztian Kurucz">
      <meta name="google-site-verification" content="5EarrUjG5tuwXL2XBCisE4Hwmzs0dOeK1cosfs09KYM" />
          
      <meta property="og:title" content="{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}">
      <meta property="og:type" content="public_figure">
      <meta property="og:url" content="https://www.krisztiankurucz.ca">
      <meta property="og:image" content="https://www.krisztiankurucz,ca/me.jpg">
      <meta property="og:site_name" content="Krisztian Kurucz's Personal Site">
      <meta property="fb:admins" content="1208286763">
      <meta property="og:description" content="I am Krisztian Kurucz. A student from UWaterloo Mechatronics Engineering in Waterloo, Ontario. Class of 2018.">
      <meta property="og:latitude" content="43.4638888889">
      <meta property="og:longitude" content="-80.5258333333">
      <meta property="og:locality" content="Waterloo">
      <meta property="og:region" content="Ontario">
      <meta property="og:country-name" content="Canada">
      <meta property="og:email" content="contact@krisztiankurucz.ca">
      <!-- Metadata End -->
      
      <!-- Structured Data Begin --> <!--
      <div itemscope itemtype="http://schema.org/Person">
        <a itemprop="url" href="www.krisztiankurucz.ca"><div itemprop="name"><strong>Krisztian Kurucz</strong></div></a>
        <div itemprop="jobtitle">Mechatronics Engineering Student</div>
        <div itemprop="description">I am Krisztian Kurucz. A student from UWaterloo Mechatronics Engineering in Waterloo, Ontario. Class of 2018.</div>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <div><span itemprop="addressLocality">Waterloo</span>, <span itemprop="addressRegion">Ontario</span></div><div itemprop="addressCountry">Canada</div>
        </div>
        <div itemprop="email">contact@krisztiankurucz.ca</div>
      </div>
      <!-- Structured Data End -->
          
      <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
      
      <link rel="icon" type="image/x-icon" href="{{ url('theme://images/favicon.png', true) }}">
      <link rel="canonical" href="{{ page.url(true, true) }}" />
      
      {% block stylesheets %}
        {# Bootstrap core CSS #}
        {% do assets.addCss('theme://css/bootstrap.css',102) %}
        {# Clean-blog CSS #}
        {% do assets.addCss('theme://css/clean-blog.css',101) %}
        {# FontAwesome CSS #}
        {% do assets.addCSS('theme://css/font-awesome.min.css') %}
        {{ assets.css() }}
      {% endblock %}

      {% block javascripts %}
        {% do assets.add('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 101) %}
        {% do assets.add('theme://js/bootstrap.min.js') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
          {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
          {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
        {% endif %}

        {{ assets.js() }}
      {% endblock %}
    {% endblock head %}
  </head>

  <body>
    {% include 'partials/header.html.twig' %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ theme_url }}/images/{{ header.image }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>{{ header.heading }}</h1>
              <hr class="small">
              <span class="subheading">{{ header.subheading }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <hr class="thick">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>

  <hr class="thick">
  <footer>
    <div class="container">
      {% include 'partials/footer.html.twig' %}
    </div>
  </footer>
</html>
