{% extends 'partials/base.html.twig' %}
{% block content %}
<article class="box post post-excerpt">
  <header>
    <h2>{{ page.header.title }}</h2>
      
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
    <script type="text/javascript" src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url('theme://js/touchpunch.js') }}"></script>
    <link rel="stylesheet" type="text/css" id="device-style" href="url('theme://css')">
	<script type="text/javascript" src="{{ url('theme://js/screenfull.js') }}"></script>
    <script type="text/javascript" src="{{ url('theme://js/jquery-photowall.js') }}"></script> 
    <link rel="stylesheet" type="text/css" href="{{ url('theme://css/jquery-photowall.css') }}">
  </header>
   {{ page.content }}
    <script type="text/javascript">
        $(document).ready(function(){
            PhotoWall.init({
                el:                  '#gallery',
                zoom:                 false,
                zoomAction:          'mouseenter',              // Zoom on action
                zoomTimeout:          500,                      // Timeout before zoom
                zoomDuration:         100,                      // Zoom duration time
                zoomImageBorder:      5,                        // Zoomed border
                showBox:              true,                     // Enable fullscreen
                showBoxSocial:        true,                     // Show social buttons
                padding:              5,                        // padding
                lineMaxHeight:        300,                      // Max set height
                lineMaxHeightDynamic: true,
                baseScreenHeight:     1200                          // Base screen size from which calculating dynamic lineMaxHeight
            });
    
        /*

        Photo object consist of:

        {   // big image src,width,height and also image id
            id:
            ,img:       //src
            ,width:
            ,height:
            ,th:{
                src:      //normal thumbnail src
                zoom_src: //zoomed normal thumbnail src
                zoom_factor: // factor of image zoom
                ,width:   //width of normal thumbnail
                ,height:  //height of normal thumbnail
            }
        };

        */
           flickrUserID = "67239707@N04";
	       $.ajax({
		      url: 'https://api.flickr.com/services/rest/?&method=flickr.photosets.getlist&api_key=4ef2fe2affcdd6e13218f5ddd0e2500d&user_id='+flickrUserID+'&format=json&per_page=500&primary_photo_extras=url_s,url_m,url_o',
		      dataType: 'jsonp',
		      success: function(data){
		          var photos = {};
                  var jsonResponse = data.responseText;
                  // This will call the jsonFlickrApi-function.
                  eval("("+jsonResponse + ")");
	           }
	       });
        
    });
        
    function jsonFlickrApi (response) {
        console.log("Got response from Flickr-API");
        console.log(response);
        var photos = {};
        for(var i in response.photosets.photoset) {
            //console.log(i);
            photo = response.photosets.photoset[i].primary_photo_extras;
            id = response.photosets.photoset[i].id;
            img = photo.url_o;
            width = photo.width_o;
            height = photo.height_o;
            th = {
                src: photo.url_s,
                zoom_src: photo.url_m,
                zoom_factor: Math.round(photo.width_m/photo.width_s),
                width: photo.width_s,
                height: photo.height_s,
                desc: response.photosets.photoset[i].title._content,
                album_url: 'https://www.flickr.com/photos/'+flickrUserID+'/sets/'+response.photosets.photoset[i].id
            };
            
            photos[id] = {
                id:id,
                img:img,
                width:width,
                height:height,
                th:th
            };
        };
        PhotoWall.load(photos);
    };
    </script>
    <div id="gallery">
        <div class="body"></div> 
    </div>
</article>
{% endblock %}